# Исследование надежности заемщиков

**Цель исследования:** изучить влияние различных факторов на факт погашения кредита заемщика в срок.

**Описание данных:** статистика о платежеспособности клиентов, представленная в виде таблицы с 12 различными столбцами.

**Краткий план работы:**
1) просмотр таблицы, обнаружение пропусков/опечаток/изначально невозможных значений;

2) предобработка данных: удаление пропусков, обработка аномальных значений и т.д.;

3) исследование обработанных значений в таблице;

4) подведение итогов работы, написание выводов.

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd
data = pd.read_csv('/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
#print(data['debt'].unique()) #проверка значений долга; сделан вывод, что долг либо есть (debt=1 <=> debt=True), либо его нет
mean = data.groupby('children')['debt'].mean() #считаем среднее значение для групп семей с разным количеством детей
f = data.pivot_table(index = ['children'], values='debt', aggfunc = ('mean', lambda X:
                                                                       X.count())) #создаем сводную таблицу

def pt(x): #делаем вывод процентов с двумя знаками после запятой через функцию, которую потом применим к значениям вероятности просрока семей
    return "{0:.2%}".format(x)

f['mean'] = f['mean'].apply(pt) #применяем функцию
f = f.rename(columns={'<lambda_0>': 'Количество записей', 'mean': 'Среднее'}) #оформляем таблицу, называем столбцы
f.sort_values(by='children', ascending=False) #сортируем таблицу по убыванию количества детей в семье

          Количество записей Среднее
children
5                        9.0   0.00%
4                       41.0   9.76%
3                      330.0   8.18%
2                     2052.0   9.45%
1                     4808.0   9.23%
0                    14091.0   7.54%

**Вывод:** полученная таблица дает информацию о том, какова средняя доля просрочки задолженности у семей с разным количеством детей. Из представленных значений можно сделать вывод: наиболее добропорядочно себя ведут семьи с 5-ю детьми (вероятность просрочки у них составляет 0%); у семей без детей вероятность просрочки одна из минимальшейших - 7,51%; далее по возрастанию доли просрочки идут семьи с 3-мя детьми, значение возможности просрочки для которых составляет 8,18%; практически равные вероятности невыплаты кредита в срок у семей с одним, двумя и четырьмя детьми - показатели находятся между 9 и 10 процентами. Семьи с пятью детьми, согласно полученным значениям, абсолютно не склонны "просрачивать" кредиты, однако исходя из значений доли просрочки у семей с другим количеством детей, можно сделать вывод, что данные некорректны. Выборки не сбалансированы: наибольшее количество семей либо не имеют детей, либо у них 1 или 2 продолжений рода. Сравнивая долю просрочки среди этих категорий, можно сделать следующее умозаключение: чем больше детей в семье, тем выше процент просрочки у семей.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
m = data.pivot_table(index = ['family_status'], values='debt', aggfunc = ('mean', lambda X:
                                                                       X.count()))

def pt(x):
    return "{0:.2%}".format(x)

m['mean'] = m['mean'].apply(pt)
m = m.rename(columns={'<lambda_0>': 'Количество записей', 'mean': 'Среднее'})
m.sort_values(by='Среднее', ascending=False)

                       Количество записей Среднее
family_status
Не женат / не замужем              2796.0   9.76%
гражданский брак                   4134.0   9.31%
женат / замужем                   12261.0   7.56%
в разводе                          1189.0   7.06%
вдовец / вдова                      951.0   6.62%

**Вывод:** полученная таблица дает информацию о том, какова средняя доля задолженности у семей с разным количеством детей. Из представленных значений можно сделать вывод: наиболее высока вероятность просрока у нежененатых/незамужних людей; минимальнейшая же вероятность у тех, кто потерял своего супруга. Если сравнивать доли просрочки, то становится очевидным следующий факт: до официального оформления отношений у людей доля просрочки выше, чем после после этого события.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
c = data.pivot_table(index = ['total_income_category'], values='debt', aggfunc = ('mean', lambda X:
                                                                       X.count()))

def pt(x):
    return "{0:.2%}".format(x)

c['mean'] = c['mean'].apply(pt)
c = c.rename(columns={'<lambda_0>': 'Количество записей', 'mean': 'Среднее'})
c.sort_values(by='Среднее', ascending=False)

                       Количество записей Среднее
total_income_category
E                                    22.0   9.09%
C                                 15921.0   8.50%
A                                    25.0   8.00%
B                                  5014.0   7.06%
D                                   349.0   6.02%

**Вывод:** полученная таблица дает информацию о том, какова средняя вероятность задолженности у людей с разным уровнем дохода. Из представленных значений можно сделать вывод: наиболее высока вероятность просрока у людей, чей доход меньше или равен 30000 - категория 'E'; минимальнейшая же вероятность у тех, чей доход находится в диапазоне от 30000 до 50000 - категория 'D'. Выборки не сбалансированы: наибольшее количество людей имеют зарплаты в диапазонах 50001–200000 —  категория 'C' и 200001–1000000 - категория 'B'. Сравнивая долю просрочки среди этих категорий, можно сделать следующее умозаключение: чем выше доход, тем ниже доля просрока платежей по кредиту.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [25]:
pc = data.pivot_table(index = ['purpose_category'], values='debt', aggfunc = ('mean', lambda X:
                                                                       X.count()))
def pt(x):
    return "{0:.2%}".format(x)

pc['mean'] = pc['mean'].apply(pt)
pc = pc.rename(columns={'<lambda_0>': 'Количество записей', 'mean': 'Среднее по задолжностям'})
pc.sort_values(by='Среднее по задолжностям', ascending=False)

                          Количество записей Среднее по задолжностям
purpose_category
операции с автомобилем                4279.0                   9.35%
получение образования                 3988.0                   9.25%
проведение свадьбы                    2313.0                   7.91%
операции с недвижимостью             10751.0                   7.26%

**Вывод:** полученная таблица дает информацию о том, какова средняя вероятность задолженности по кредиту в зависимости от того, какова цель, на которую он был взят. Из представленных значений можно сделать вывод: наиболее высока вероятность просрока у тех, кто брал в долг у банка, чтобы покрыть расходы на операции с автомобилем; минимальнейшая же вероятность у тех, кто берет деньги для того, чтобы  провести операции с недвижимостью.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* если данные вводились вручную, то имеет место быть человеческий фактор: что-то нечаянно было пропущено, через какую-то строку "перепрыгнули". Если данные считывались с, например, формы (опросника/анкеты), то возможны следующие причины пропусков: 1) пользователь не указал данные, не захотев этого сделать; 2) пользователь не указал данные, не поняв, какие именно значения нужно внести; 3) при передаче данных возникла(-и) техническая(-ие) ошибка(-и), в связи с чем некоторые данные могли быть утеряны как до, так и во время обработки; 4) данные могли поступить в нестандартном формате, в связи с чем при их переносе могут образовываться пропуски.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* заполнение пропусков медианным значением позволяет сохранить форму и распределение данных. Это важно для поддержания точности и репрезентативности данных. Медиана является устойчивой мерой центральной тенденции и не подвержена выбросам. Это означает, что значения выбросов не будут искажать результаты заполнения пропусков. Заполнение пропусков медианным значением не вызывает существенных изменений в статистических характеристиках данных.

### Шаг 4: общий вывод.

Исходные данные были представлены в виде таблицы с 12 столбцами, некоторые значения в которой были пропущены; также были обнаружены аномальные значения и дубликаты. На этапе предобработке данных эти значения были обработаны: пропуски в количественных переменных были заменены на медианные значения для того, чтобы не исказить результаты заполнения пропусков, дубликаты и аномальные значения из таблицы оказались удалены. На этом же этапе была проведена категоризация данных, впоследствии оказавшая помощь в анализе влияния различных факторов на своевременное погашение кредита.

По итогам анализа можно резюмировать: наиболее надежными заемщиками являются люди, у которых нет детей, они либо состояли (состоят) в узаконенных отношениях, либо потреяли супруга или супругу и имеют доход от двухсот тысяч до миллиона рублей. Наименее вероятны выплаты в срок у людей с низким доходом, находящимся в пределах тридцати тысяч рублей, и некоторым количеством детей, причем явно прослеживается тенденция: чем больше детей в семье - тем выше доля просрока по кредиту. 

Влияют на своевременные выплаты кредитных платежей также и цели, на которые человек берет деньги у банка в долг: те, кто берет деньги на операции с недвижимостью, наиболее склонны к просрочкам плтаежей, в то время как те, кто берет деньги на операции с недвижимость, возвращают их вовремя наиболее часто относительно людей, взявших деньги на другие цели.

По моему мнению, на своевременное погашение кредита может также оказывать влияние и возраст заемщика, который в этой работе не обрабатывался. Я бы также рекомендовала заказчику использовать для оценки надежности заемщика не годовой доход, а ежемесячный, ведь кредиты обычно должны выплачиваться каждый 30-31 день, а годовой доход таким образом лишает заказчика возможности оценить, на сколько вероятен просрок по оплате долга.